*{
    margin: 0;
    padding: 0;
}

#hdr{
    height: 70px;
    background-color: #34495e;
}
.lg1{
    display: inline;
    padding: 5px;
    color: #34495e;
    font-size:50px;
    font-family: fantasy;
    font-weight: bold;
    text-shadow: -5px -5px 10px #728394,5px 5px 15px #1c2733 ;
}
a{
    text-decoration: none;   
}
.lg{
    display: inline;
    padding: 5px;
    color: #34495e;
    font-weight: 500;
    font-size:35px;
}
.lg a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    border-radius: 15px;
    background-color: aliceblue;
    text-align: center;
    text-decoration: none;
    color: #34495e;
    font-size: 30px;
    text-shadow: none;
    box-shadow:inset -4px -4px 9px #34495e,inset 4px 4px 9px rgb(216, 216, 216);
}

.abtus{
    height: 100vh;
    background-color: rgb(218, 218, 218);
}

.ftr{
    color: #34495e;
    padding-top: 2%;
    margin: auto auto auto 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.plt{
    padding: 10px;
    margin: 2% auto auto 5%;
    width: 88%;   
    border-radius: 20px;
    box-shadow:inset 3px 3px 5px rgb(143, 143, 143), inset -3px -3px 5px white ;
}

p{
    margin: auto;
    color: #34495e;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:10px ;
    border-radius: 10px;
    background-color:rgb(218, 218, 218);
}